<template>
    <div class="text-center container-loader">
        <img src="../../assets/icons/loader.svg" class="img-loader" alt="icon loader" /> 
    </div>
</template>
<script>
    export default{
        name: "Loader",
    }
</script>
<style>
    .container-loader{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background:#F5D13C;
        display: flex;
        margin:auto
    }
    .img-loader{
        width:90%;
        margin: auto;
        display: block;
    }
</style>
