<template>
  <div class="card card-movie" @click="handleClick(movieDetail.id)">
    <img
      :src="'https://image.tmdb.org/t/p/w500' + movieDetail.poster_path"
      class="card-img-top card-img-top-movie"
      alt="poster movie"
    />
    <div class="card-body container-card-movie">
      <h5 class="card-title mb-1 card-title-movie">{{ movieDetail.title }}</h5>
      <p class="card-text mb-2">
        <ul class="list-group list-group-horizontal">
              <li class="list-group-item list-genre-movie" v-for="(value,key) in movieDetail.genre_ids" v-bind:key="key" >
                  {{genresMovie.find(x=>x.id == value).name }}
            </li>
        </ul>
      </p>
      <p class="mb-2 font-weight-bold">
        <span class="love" />{{ movieDetail.vote_average }}
      </p>
      <button type="button" class="btn btn-detail-movie">
        <img
          src="../../assets/icons/plus.svg"
          class="card-img-movie"
          alt="plus icon"
        />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardMovie",
  props: {
    movieDetail: Object,
    genresMovie: Array,
  },
  methods:{
    handleClick(id){
      this.$emit("getMovie",id);
    }
  }
};
</script>

<style scope>
    a,button{
        outline: none !important;
        box-shadow: none !important;
    }
    .card-movie{
        border-radius: 0px !important;
        box-shadow: 1px 11px 10px 0px #888;
        cursor: pointer;
        transition: 0.3s;
    }
    .card-movie:hover{
      box-shadow: 0px 4px 10px 5px #888;
      min-width: 102%;
    }
    .container-card-movie{
        text-align: initial;
        font-size: 13px;
    }
    .btn-detail-movie{
        position: absolute;
        right: -1px;
        background:url('../../assets/icons/levels.svg');
        padding: 1% 0% 1% 4% !important;
        bottom: -1px;
        border: none !important;
        background-repeat: no-repeat;
        padding: 1%;
        border-radius: 0px !important;
        right: -1px;
        width: 30px;
        background-position: right;
    }
    .card-img-top-movie{
      border-radius: 0px !important;
    }
    .card-img-movie{
        width: 10px;
        margin-top: 8px;
    }
    .card-title-movie{
        font-size: 18px;
    }
    .list-genre-movie{
        padding: 1% !important;
        border: none !important;
        font-size: 12px;
        color: #F5D13C;
    }
    .love::before{
        color: red;
        font-size: 1rem;
        content: '\2665';
    }
</style>
