<template>
  <div
    class="modal fade"
    :class="{ 'show show-modal': movieDetail.id != '' }"
    id="modal-detail"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    @mouseover="modalSize"
  >
    <div class="modal-dialog modal-size modal-dialog-centered modal-dialog-scrollable">
      <div  class="modal-content border-radius-none border-none efect-rotate" style="background-color:transparent">
        <div class="modal-body p-0">
          <div class="card border-radius-none border-none" style="background:transparent;overflow: hidden;">
            <div class="btn-close-modal-detail">
              <button type="button" class="btn pb-0 pt-0 float-right" @click="handleCloseModal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="top-left" @mouseover="topLeft" @mouseout="topLeftOut"></div>
            <div class="left" @mouseover="left" @mouseout="leftOut"></div>
            <div class="bottom-left" @mouseover="bottomLeft" @mouseout="bottomLeftOut"></div>
            <div class="top" @mouseover="top" @mouseout="topOut"></div>
            <div class="top-right" @mouseover="topRight" @mouseout="topRightOut"></div>
            <div class="right" @mouseover="right" @mouseout="rightOut"></div>
            <div class="bottom-right" @mouseover="bottomRight" @mouseout="bottomRightOut"></div>
            <div class="bottom" @mouseover="bottom" @mouseout="bottomOut"></div>
            <div id="top-left" class="div-size row no-gutters left-rotate top-rotate top-right-rotate right-rotate bottom-left-rotate bottom-rotate bottom-right-rotate">
              <div class="col-md-5" style="background:#000">
                <img
                  :src="
                    'https://image.tmdb.org/t/p/w500' + movieDetail.poster_path
                  "
                  style="margin-left:100px"
                  class="card-img-top h-100 efect-modal"
                  alt="poster movie"
                />
              </div>
              <div class="col-md-7 d-flex efect-modal" style="margin-left:-100px">
                <div class="card border-radius-none border-none">
                <div id="efecto-modal-small" class="card border-radius-none border-none card-title-mobile-movie">
                  <div class="card-body pb-2">
                    <h5 class="modal-title text-left">
                      {{ movieDetail.title }}
                    </h5>
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="list-group list-group-horizontal">
                          <li
                            class="list-group-item item-list-genre"
                            v-for="(value, key) in movieDetail.genres"
                            v-bind:key="key"
                          >
                            {{ value.name }}
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul
                          class="list-group list-group-horizontal justify-content-center"
                        >
                          <li
                            class="list-group-item content-adult mr-lg-3"
                            v-if="!movieDetail.adult"
                          >
                            PG-13
                          </li>
                          <li class="list-group-item content-adult" v-else>
                            PG-18
                          </li>
                          <li class="list-group-item content-hour">
                            {{ parseHour(`${movieDetail.runtime}`) }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer border-radius-none card-footer-bg-none mr-3 ml-3">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-lg-4">
                        <span
                          ><img
                            src="../../assets/icons/hearth.svg"
                            class="icon-hearth"
                            alt="icon"
                          />{{ movieDetail.vote_average }}</span
                        >
                      </div>
                      <div class="col-xs-12 col-sm-4 col-lg-4">
                        <span
                          ><img
                            src="../../assets/icons/dis-like.svg"
                            class="icon-disLike"
                            alt="icon"
                          />{{ movieDetail.vote_count }}</span
                        >
                      </div>
                      <div class="col-xs-12 col-sm-4 col-lg-4">
                        <span
                          ><img
                            src="../../assets/icons/trophy.svg"
                            class="icon-trophy"
                            alt="icon"
                          />0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text text-movie-detail">
                    {{ movieDetail.overview }}
                  </p>
                  <p class="text-movie-detail">
                    <a href="#" >FULL MOVIE PROFILE <img src="../../assets/icons/arrow-right.svg" class="icon-arrow" alt="icon arrow-right"/></a>
                  </p>
                </div>
                <div class="card-footer text-muted p-0 footer-actions">
                  <div class="row no-gutters">
                    <div class="col pr-0">
                      <button class="btn-footer-movie-detail btn-background-2" type="butto">Watch Trailer <img src="../../assets/icons/play.svg" class="icon-btn" alt="icon-arrow"/></button>
                    </div>
                    <div class="col pl-0">
                      <button class="btn-footer-movie-detail btn-background-1" type="butto">To Watchlist <img src="../../assets/icons/star.svg" class="icon-btn" alt="icon-star"/></button>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import $ from "jquery";

export default {
  name: "ModalDetailMovie",
  props: {
    movieDetail: Object,
  },
  methods: {
    modalSize(){
      if($('.efect-modal').attr('class')){
        $('.efect-modal').animate({'margin-left':'0px'},1000);
        $('#efecto-modal-small').animate({'margin-left':'-25px'},1300);
      }
    },
    showModal() {
      let idModal = document.getElementById("modal-detail");
      idModal.setAttribute("class", "modal fade show");
    },
    parseHour(minute) {
      let duration = moment.duration(minute, "minutes");
      let hh = duration.hours();
      let mm = duration.minutes();
      return hh + "h " + mm + "m";
    },
    handleCloseModal(){
        this.$emit('handleClose');
    },
    topLeft(){
      $('#top-left').css('transform','rotate3d(30,-30,0,11deg)');
    },
    topLeftOut(){
      $('#top-left').attr('style','');
    },
    left(){
      $('.left-rotate').css('transform','rotate3d(0,-20,0,11deg)');
    },
    leftOut(){
      $('.left-rotate').attr('style','');
    },
    bottomLeft(){
      $('.bottom-left-rotate').css('transform','rotate3d(-30,20,0,11deg)');
    },
    bottomLeftOut(){
      $('.bottom-left-rotate').attr('style','');
    },
    top(){
      $('.top-rotate').css('transform','rotate3d(-30,0,0,11deg)');
    },
    topOut(){
      $('.top-rotate').attr('style','');
    },
    bottom(){
      $('.bottom-rotate').css('transform','rotate3d(30,0,0,16deg)');
    },
    bottomOut(){
      $('.bottom-rotate').attr('style','');
    },
    bottomRight(){
      $('.bottom-right-rotate').css('transform','rotate3d(30,10,-0,11deg)');
    },
    bottomRightOut(){
      $('.bottom-right-rotate').attr('style','');
    },
    topRight(){
      $('.top-right-rotate').css('transform','rotate3d(-30,-10,-0,11deg)');
    },
    topRightOut(){
      $('.top-right-rotate').attr('style','');
    },
    right(){
      $('.right-rotate').css('transform','rotate3d(0,30,-0,11deg)');
    },
    rightOut(){
      $('.right-rotate').attr('style','');
    }
  },
};
</script>
<style>
.div-size{
  width: 99%;
}
#top-left{
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.efect-rotate{
  transform-style: preserve-3d;
  transition: transform 1.5s;
}
.top-left{
  position: absolute;
    z-index: 100;
    width: 80px;
    height: 69px;
    top: 0;
    left: 0;
}
.left{
  position: absolute;
    width: 80px;
    height: 100%;
    z-index: 99;
    left: 0;
}
.bottom-left{
  position: absolute;
  z-index: 100;
  width: 80px;
  height: 69px;
  bottom: 0;
  left: 0;
}
.top{
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 69px;
  top: 0;
}
.top-right{
  position: absolute;
  z-index: 100;
  width: 80px;
  height: 69px;
  top: 0;
  right:0;
}
.bottom-right{
  position: absolute;
  z-index: 100;
  width: 80px;
  height: 69px;
  bottom: 0;
  right:0;
}
.right{
  position: absolute;
    width: 80px;
    height: 100%;
    z-index: 99;
    right:0;
}.bottom{
  position: absolute;
    width: 100%;
    height: 69px;
    z-index: 99;
    bottom:0;
}
.border-radius-none {
  border-radius: 0px !important;
}
.border-none {
  border: none !important;
}
.card-title-mobile-movie {
  margin-left: -60px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 7px 4px 14px 0px #808080a6;
}
.show-modal {
  display: block !important;
  padding-right: 17px !important;
  background: rgb(0, 0, 0, 0.7);
}
.modal-size {
  max-width: 750px !important;/*56*/
  transition: max-width 0.4s;
}

.btn-close-modal-detail {
  position: absolute;
  right: 0;
  z-index: 100000;
}
.item-list-genre {
  font-size: 11px;
  color: #3e92e8f5;
  padding: 1% !important;
  border: none !important;
}
.content-hour,
.content-adult {
  border-radius: 30px !important;
  padding: 1% 8% !important;
  font-size: 12px;
  background: #8080802e !important;
  font-weight: bold;
}

.icon-hearth,
.icon-disLike,
.icon-trophy,.icon-arrow {
  width: 19px;
  margin-right: 5px;
}
.text-movie-detail{
    text-align: left;
    font-size: 14px;
}
.card-footer-bg-none{
    background-color:transparent !important;
}
.btn-footer-movie-detail{
    width: 100%;
    padding: 12%;
    border: none;
    font-size: 13px;
}
.icon-btn{
    width:14px;
}
.btn-background-1{
    background: #000000d4;
    color: #F5D13C;
    font-weight: bold;
}
.btn-background-2{
    background: #F5D13C;
    color: #fff;
    font-weight: bold;
}
.footer-actions{
    width: 100%;
    bottom: 0px;
}
@media only screen and (max-width:500px){
  .card-title-mobile-movie{
    margin-top:0px;
    margin-left:0px !important;
  }
  .efect-modal{
    margin-left:0px !important;
  }
  .show-modal{
    padding-right: 0px !important;
  }
}
</style>
