<template>
  <modal-detail :movieDetail=movieDetail v-if="Object.keys(movieDetail).length > 0 && showModal" @handleClose="closeModal"/>
    <div class="background-content-movies"></div>
    <div class="container mt-44px">
    <div class="row justify-content-center">
      <div class="col-lg-10">
    <div class="card border-none">
        <nav>
          <div class="nav nav-tabs nav-content-movie" id="nav-tab" role="tablist">
            <a class="nav-link link-tab-category active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">IN THEATERS</a>
            <a class="nav-link link-tab-category" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">COMING SOON</a>
            <a class="nav-link link-tab-category" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">CHARTS</a>
            <a class="nav-link link-tab-category" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">TV SERIES</a>
            <a class="nav-link link-tab-category" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">TRAILERS</a>
            <a class="nav-link link-tab-category" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">MORE</a>
          </div>
        </nav>
        <div class="row align-items-center mt-4 mb-4">
            <div class="col-sm-12 col-lg-2">
              <button class="btn-list-movie" type="button"><img src="../assets/icons/menu-hamburgue.svg" width="20" alt="icon-menu" /></button>
              <button class="btn-list-movie" type="button"><img src="../assets/icons/menu-point.svg" width="20" alt="icon-menu" /></button>
            </div>
            <div class="col-sm-12 col-lg-6 text-left">
              <label class="">IMDb Rating</label>
              <div class="progress" style="height: 1px;">
                <div class="progress-bar color-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <input class="input-search" />
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="container mt-4">
              <div class="row">
                <div class="col-lg-4 mb-3 d-flex p-2" v-for="(value, key) in movies" v-bind:key="key" v-bind:v-if="movies.length > 0">
                  <card-movie :movieDetail="value" :genresMovie="genres" @getMovie="getMovieDetail"/>
                </div>
                <div class="col-sm-12" v-if="movies.length == 0">
                  <loader />
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            .d..
          </div>
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            .s..
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import CardMovie from "@/components/card-movie/CardMovie.vue";
import Loader from "@/components/loader/Loader.vue";
import ModalDetailMovie from "@/components/modal-detail-movie/ModalDetailMovie.vue"
import * as config from "../config/config.js";
import $ from "jquery";

export default {
  name: "Home",
  data() {
    return {
      movies: new Array(),
      genres: new Array(),
      movieDetail: Object,
      showModal:false,
    };
  },
  methods: {
    createToken: async () => {
      let response = await fetch(
        `${config.urlAPI}/authentication/token/new?api_key=${config.apiKey}`,
        { method: "GET" }
      );
      let { success, request_token } = await response.json();
      if (success) {
        localStorage.setItem("token", request_token);
      }
    },
    getListGenre() {
      fetch(
        `${config.urlAPI}/genre/movie/list?api_key=${config.apiKey}&language=en-US`,
        { method: "GET" }
      )
        .then((response) => response.json())
        .then((res) => {
          let { genres } = res;
          this.genres = genres;
        });
    },
    getListMovies() {
      fetch(
        `${config.urlAPI}/movie/popular?api_key=${
          config.apiKey
        }&language=en-US&page=${1}`,
        { method: "GET" }
      )
        .then((response) => response.json())
        .then((res) => {
          let { results } = res;
          this.movies = results;
        });
    },
    getMovieDetail(value){
      if(value != undefined){
        fetch(`${config.urlAPI}/movie/${value}?api_key=${config.apiKey}&language=en-US`,{ method: "GET" })
        .then((response) => response.json())
        .then((res) => {
            this.showModal=true;
            this.movieDetail =res;
            
        })
      }
    },
    closeModal(){
      this.showModal = false;
      this.movieDetail = Object;
    }
  },
  components: {
    "card-movie": CardMovie,
    "loader" : Loader,
    "modal-detail" : ModalDetailMovie,
  },
  created() {
    this.getListGenre();
    this.getListMovies();
  },
  watch:{
    movieDetail: function(){
      let modal = $('#modal-detail');
      modal.css('style','max-width:56%');
    },
  },
};
</script>
<style scoped>
  label{
    font-size: 14px;
  }
  .link-tab-category{
    border:none !important;
    color:#495057;
    font-size: 13px;
  }
  .link-tab-category.active{
    border-bottom: 2px solid #f5d13c !important;
    color:#f5d13c !important;
  }
  .color-bar{
    background-color:#f5d13c;
  }
  .btn-list-movie{
    width:50%;
    background: transparent;
    border:none;
    opacity: 0.6;
  }
  .input-search{
    border: none;
    border-bottom: 1px solid #e9ecef;
    outline: none;
    background: url('../assets/icons/searching.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 17px;
  }
  .mt-44px{
    margin-top:-44px
  }
  .nav-content-movie{
    margin: 1% 3% 0%;
  }
  .background-content-movies{
    background: url('../assets/home/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24rem;
  }
</style>